 <div class="grid_12">

   <%= render 'enquiry/form' %>
   <div class="grid_7">
     <p style="margin-top:35px">
      <strong>Sydney Immaculate Cleaning</strong> is a professional cleaning service focusing on a wide range of cleaning services including
    </p>
    <ul>
        <li>commercial cleaning</li>
        <li> end-of-tenancy cleaning</li>
        <li> quality home cleaning </li>
        <li> and carpet cleaning service</li>
    </ul>
    <p> throughout suburbs of all Sydney regions</p>
    <p style="margin-top:25px">
      Immaculate Cleaning Service’s mission is to provide the customer with environmentally sound, trustworthy cleaninservices. All of our experienced and insured staffs are equipped with professional chemicals and equipment to enre ouservice exceeds the expectation of our customers. We are honest and hardworking which make our job reliable. We  jobaccording to checklists so that don’t miss even a single detail.
    </p>
    <p style="margin-top:25px">
      Call us 24/7 for free quote and advises about cleaning problems.
    </p>
    </div>
  </div>
