<div class="grid_8">

  <div id="carpet_cleaning" class="detail-service-box-1">
    <p class="legend">Carpet Cleaning</p>
    <div>
      <%= image_tag('carpet-cleaning.jpg') %>
    </div>
    <div class="detail-service-text">
      <p><strong>Why carpets need professional cleaning?</strong></p>
      <p>
        Carpet is a common part of home decoration which provides comfort and convenience. However, carpets can be breeding ground of bacteria without regular and proper cleaning. Vacuuming is a good way to get rid of dust, though; it does little to prevent bacteria. Besides, stains accumulate as a result of raising pets, kids playing etc. With our environmental sound formulas and professional carpet cleaning machine, your carpets can be free of bacteria and stains to the largest extend.
      </p>

      <p><strong>How often do carpets need to be cleaned?</strong></p>
      <p>Carpets need vacuuming at least weekly and steam cleaning every three months. Families which are raising pets need more frequent carpet cleaning. Proper treatment is needed right after a dog pissing or liquid spilling.
      </p>

      <p><strong>  Why choose Sydney Immaculate Cleaning?</strong></p>
      <ul>
        <li>Advanced equipment – steam carpet machine, high pressure stain remover, carpet polisher</li>
        <li>Experienced carpet cleaners</li>
        <li>Effective and environmental sound formula</li>
        <li>Punctuation and reliable</li>
      </ul>

      <p><strong>What’s the process of carpet cleaning?</strong></p>
      <ul>
        <li>Inspection</li>
        <li>Vacuuming</li>
        <li>Spot treatment</li>
        <li>Pre-spray</li>
        <li>Deodorizing</li>
        <li>Raking</li>
      </ul>

    </div>
  </div>

  <div id="end_of_lease" class="detail-service-box-2">
    <p class="legend">End of Lease</p>
    <div style="clear: both"></div>
    <div class="detail-service-text">

      <p><strong>Bond back guarantee</strong></p>
      <p>Moving is never an easy task, and getting your bond back is one of the most important part of it. Today real estate agents require the property to be cleaned thoroughly and professionally. Every single detail on cleaning counts on getting your bond back.
      </p>
      <p>
        With our experience in professional cleaning and long term cooperation with agents, we are fully aware of the stringent criteria they have on moving out cleaning and we are confident to meet those criteria. We guarantee that no bond loss on cleaning issues.
      </p>
      <p><strong>Our moving out cleaning includes the following contents:</strong></p>
      <p><strong>Kitchen:</strong></p>
      <p>Cupboards (inside & surface), range hood, oven (inside & surface), stove, bench top and backslash, sinks and taps, doors and door frames, light switches, skirting boards, floor.</p>

      <p><strong>Bathroom:</strong></p>
      <p>hower screen and walls, bathtub, toilet, basin, fittings, mirrors, exhaust fan, floor.</p>

      <p><strong>Bedroom and living room:</strong></p>
      <p>Wardrobes and mirrors, minor marks on the wall, light switches, skirting board, floor.</p>

      <p><strong>Balcony:</strong> cobweb, floor.</p>

      <p><strong>Window cleaning (on request): </strong>inside and outside (if reachable), blinds, frames.</p>

      <p><strong>Carpet washing (on request)</strong></p>

    </div>
    <div>
      <%= image_tag('carpet-cleaning.jpg') %>
    </div>
    <div style="float:clear"></div>
  </div>

</div>

<%= render 'enquiry/form' %>

